table.form,
table.form td,
table.form th {
    border-collapse: collapse;
    border: none;
}

table.list,
table.list td,
table.list th {
    border-collapse: collapse;
    border: 1px solid black;
}

.inline-form {
    display: inline;
}

textarea, input, select {
    min-width: 200px;
}
