table.form, table.form > tbody > tr > td {
    border: none;
    border-collapse: collapse;
}

table.list, table.list > tbody > tr > td {
    border: 1px solid black;
    border-collapse: collapse;
}

.inline-form {
    display: inline;
}
